.input {
    @extend .input-reset;
    background: $white;
    width: 100%;
}

.checkbox {
    position: relative;
}

.checkbox__input {
    display: none;

    &:checked ~ .checkbox__label::after {
        opacity: 1;
    }
}

.checkbox__label {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 4px;
    border: 2px solid $ghost;
    display: block;
    cursor: pointer;

    &::after {
        @include trans;
        content: '';
        width: 10px;
        height: 10px;
        background: $ghost;
        position: absolute;
        top: 3px;
        left: 3px;
        opacity: 0;
    }
}