// Typeface
$muli: 'Muli', sans-serif;

// Colors
$white: #fff;
$black: #000;

$catskill: #F2F4F9;
$snuff: #D6DBE9;
$ghost: #C7CAD6;
$lynch: #737EA1;
$dodger-blue: #3A94F5;
$mariner: #3367D9;
$persian-blue: #203BD3;
$oxford-blue: #38415C;

$emerald: #4AD258;

// Timings
$trans: .2s;