<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Tracker</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag :bundle %>

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
    <%= stylesheet_link_tag :styles %>
  </head>

  <body>
    <%= yield %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/solid.js" integrity="sha384-Q7KAHqDd5trmfsv85beYZBsUmw0lsreFBQZfsEhzUtUn5HhpjVzwY0Aq4z8DY9sA" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js" integrity="sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG" crossorigin="anonymous"></script>
  </body>
</html>
