<nav class="menu">
    <div class="menu__header menu__item">
        <div class="menu__logo">
            <%= image_tag 'logo.svg' %>
        </div>

        <h1 class="menu__header-text">
            Inventory Tracker
        </h1>
    </div>

    <ul class="menu__list nav-list">
        <li class="menu__item">
            <a href="#" class="menu__link active">
                <i class="menu__icon fa fa-box-open"></i>
                Inventory
            </a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">
                <i class="menu__icon fa fa-clipboard"></i>
                Orders
            </a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">
                <i class="menu__icon fa fa-dollar-sign"></i>
                Income
            </a>
        </li>
    </ul>
</nav>